@page
@model MyApp.Namespace.EditarCitaModel
@{
}
<h1>Editar Cita</h1>

<div class="form-group row">
        <button type="submit" class="btn btn-primary">Editar</button>
        <a asp-page="./CitasAgendadas" class="btn btn-primary">Cancelar</a>
    </div>