@page
@model MyApp.Namespace.EliminarCitaModel
@{
}
<h1>Eliminar Cita</h1>
<div class="form-group row">
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a asp-page="./CitasAgendadas" class="btn btn-primary">Cancelar</a>
    </div>