@page
@model MyApp.Namespace.DetalleAuxiliarModel
@{
}
<h1>Detalle Auxiliar</h1>

<ul>
    <li>CodigoA: @Model.auxiliar.CodigoA</li>
    <li>Nombre: @Model.auxiliar.Documento</li>
    <li>Apellido: @Model.auxiliar.Nombre</li>
    <li>Telefono:@Model.auxiliar.Apellido</li>
    <li>Telefono:@Model.auxiliar.Telefono</li>
    <li>Genero: @Model.auxiliar.Genero</li>
</ul>
    