@page
@model MyApp.Namespace.EliminarAuxiliarModel
@{
}
@using Consultorio.App.Dominio
<h1>Confirmacion</h1>
<p>¿Realmente Deseas Eliminar El Auxiliar? @Model.auxiliar.Nombre? </p>
<from method="post" class="mt-3">
    <input type="hidden" asp-for="auxiliar.Documento"/>
        <button type="submit" class="btn btn-primary">si</button>
        <a asp-page="./Auxiliar" class="btn btn-primary">no</a>
    
</from>