@page
@model MyApp.Namespace.EliminarClienteModel
@{
}

<h1>Confirmacion</h1>
<p>¿Realmente Deseas Eliminar El Cliente @Model.cliente.Nombre? </p>
<from method="post" class="mt-3">
    <input type="hidden" asp-for="cliente.Documento">
    <button type="submit" class="btn btn-primary">Si</button>
    <a asp-page="./Cliente" class="btn btn-primary">No</a>
    
</from>