@page
@model MyApp.Namespace.EditarMedicoModel
@{
}
@using Consultorio.App.Dominio
<h1>Crear Médico</h1>
<form method="post" class="mt-3">
    <input hidden asp-for="medico.ID"/>
    <div class="form-group row">
        <label asp-for="medico.Documento" class="col-sm-2"></label>
        <input asp-for="medico.Documento" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Documento"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.UserName" class="col-sm-2"></label>
        <input asp-for="medico.UserName" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.UserName"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.Correo" class="col-sm-2"></label>
        <input asp-for="medico.Correo" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Correo"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.Contraseña" class="col-sm-2"></label>
        <input asp-for="medico.Contraseña" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Contraseña"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.Nombre" class="col-sm-2"></label>
        <input asp-for="medico.Nombre" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Nombre"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.Apellido" class="col-sm-2"></label>
        <input asp-for="medico.Apellido" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Apellido"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.Telefono" class="col-sm-2"></label>
        <input asp-for="medico.Telefono" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Telefono"></Span>
    </div>
     <div class="form-group row">
        <label asp-for="medico.Genero" class="col-sm-2"></label>
        <div class="col-sm-10">
            <select asp-for="medico.Genero" asp-items="Html.GetEnumSelectList<Genero>()"></select>
            <option value="-"></option>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="medico.Especialidad" class="col-sm-2"></label>
        <input asp-for="medico.Especialidad" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Especialidad"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.Codigo" class="col-sm-2"></label>
        <input asp-for="medico.Codigo" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.Codigo"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.RegistroRethus" class="col-sm-2"></label>
        <input asp-for="medico.RegistroRethus" class="form-control">
        <Span class="text-danger" asp-Validation-for="medico.RegistroRethus"></Span>
    </div>
    <div class="form-group row">
        <label asp-for="medico.horario" class="col-sm-2"></label>
        <input asp-for="medico.horario" class="form-control">
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a asp-page="./Medico" class="btn btn-primary">Cancelar</a>
    </div>
</form>
